<ion-header-bar align-title="center" class="bar-stable">
    <button class="button icon-left ion-chevron-left" ng-if="verBotaoVoltar" on-tap="acaoVoltar()">Voltar</button>
    <h1 class="title">{{tituloPrincipal}}</h1>
    <button class="button icon-left ion-checkmark-round" ng-if="verBotaoSalvar" on-tap="acaoSalvar()">Salvar</button>
</ion-header-bar>
<ion-view >
    <ion-tabs class="tabs-top tabs-background-positive tabs-color-light tabs-positive tabs-icon-only">
        <ion-tab title="Endereço" icon-on="ion-ios7-home" icon-off="ion-ios7-home" href="#/cadastroDomicilios/{{bind.idDomicilio}}/cadastroDomicilioTabs/tabEndereco">
            <ion-nav-view name="tab-Endereco"></ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Condições de Moradia" icon-on="ion-ios7-analytics" icon-off="ion-ios7-analytics" href="#/cadastroDomicilios/{{bind.idDomicilio}}/cadastroDomicilioTabs/tabCondMoradia">
            <ion-nav-view name="tab-CondMoradia"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Animais no Domicílio" icon-on="ion-ios7-paw" icon-off="ion-ios7-paw" href="#/cadastroDomicilios/{{bind.idDomicilio}}/cadastroDomicilioTabs/tabAnimais">
            <ion-nav-view name="tab-Animais"></ion-nav-view>
        </ion-tab>

        <ion-tab title="indivíduos" icon-on="ion-ios7-people" icon-off="ion-ios7-people" href="#/cadastroDomicilios/{{bind.idDomicilio}}/cadastroDomicilioTabs/tabIndividuos">
            <ion-nav-view name="tab-Individuos"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>


