<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Escolher Tipo de Higiene Pessoal</h1>
        <a class="button button-icon icon ion-close" on-tap="fecharHigienePessoal()"></a>
    </ion-header-bar>
    <ion-content >
        <div class="list">
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="pacienteEsus.higieneBanho" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Banho</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="pacienteEsus.higieneSanitario" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Acesso ao Sanitário</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="pacienteEsus.higieneBucal" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Higiene Bucal</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="pacienteEsus.higieneOutros" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Outros</div>
            </li>            
        </div>    
    </ion-content>
</ion-modal-view>