<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Selecione o Indivíduo</h1>
        <a class="button button-icon icon ion-close" on-tap="closeModalIndividuo()"></a>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-android-search placeholder-icon"></i>
            <input ng-change="buscarIndividuo()" ng-model="bindIndividuo.criterioIndividuo" type="search" placeholder="Procurar" />
        </label>
    </ion-header-bar>    

    <ion-content delegate-handle="contentIndividuo">
        <div class="list">
            <a class="item" on-tap="individuoSelecionado(item)" bindonce ng-repeat="item in bindIndividuo.individuos" >
                <h2>{{item.nome}}</h2>
                <p style="color: green;" ng-if="item.situacao != 2">{{descricaoSituacao(item)}}</p>
                <p style="color: red;" ng-if="item.situacao == 2">{{descricaoSituacao(item)}}</p>
            </a>
            <ion-infinite-scroll
                ng-if="bindIndividuo.canLoadIndividuo"
                icon="ion-loading-c"
                on-infinite="loadIndividuo()"
                distance="1%">
            </ion-infinite-scroll>        
        </div>    
    </ion-content>
</ion-modal-view>