<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Selecione o Orgão Emissor</h1>
        <a class="button button-icon icon ion-close" on-tap="closeModalOrgaoEmissor()"></a>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-android-search placeholder-icon"></i>
            <input ng-change="buscarOrgaoEmissor()" ng-model="bindOrgaoEmissor.criterioOrgaoEmissor" type="search" placeholder="Procurar" />
        </label>
    </ion-header-bar>    

    <ion-content delegate-handle="contentOrgaoEmissor">
        <div class="list">
            <a class="item" on-tap="orgaoEmissorSelecionado(item)" bindonce ng-repeat="item in bindOrgaoEmissor.orgaos" >
                <h2 ng-if="item.sigla">({{item.sigla}}) </h2><h2>{{item.descricao}}</h2>
            </a>
            <ion-infinite-scroll
                ng-if="bindOrgaoEmissor.canLoadOrgaoEmissor"
                icon="ion-loading-c"
                on-infinite="loadOrgaoEmissor()"
                distance="1%">
            </ion-infinite-scroll>        
        </div>    
    </ion-content>
</ion-modal-view>