<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Selecione o País</h1>
        <a class="button button-icon icon ion-close" on-tap="closeModalPais()"></a>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-android-search placeholder-icon"></i>
            <input ng-change="buscarPais()" ng-model="bindPais.criterioPais" type="search" placeholder="Procurar" />
        </label>
    </ion-header-bar>    

    <ion-content delegate-handle="contentPais">
        <div class="list">
            <a class="item" on-tap="paisSelecionado(item)" bindonce ng-repeat="item in bindPais.paises" >
                <h2>{{item.descricao}}</h2>
            </a>
            <ion-infinite-scroll
                ng-if="bindPais.canLoadPais"
                icon="ion-loading-c"
                on-infinite="loadPais()"
                distance="1%">
            </ion-infinite-scroll>        
        </div>    
    </ion-content>
</ion-modal-view>