<ion-view>
    <ion-content padding="true">
        <div class="list">
            <div class="item item-divider">
                Desfecho
            </div>            
            <ion-radio ng-model="visita.desfecho" ng-value="1">Visita Realizada</ion-radio>
            <ion-radio ng-model="visita.desfecho" ng-value="2">Visita Recusada</ion-radio>
            <ion-radio ng-model="visita.desfecho" ng-value="3">Ausente</ion-radio>            
        </div>        
    </ion-content>
</ion-view>


