<!--<ion-view>-->
    <ion-content padding="true">
        <div class="list">
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAtualizacao" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Cadastramento/Atualização</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoVisitaPeriodica" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Visita Periódica</div>
            </li>            
            <div class="item item-divider">
                Busca Ativa
            </div>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoBaConsulta" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Consulta</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoBaExame" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Exame</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoBaVacina" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Vacina</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoBaCondicionalidadesBolsaFamilia" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Condicionalidades do Bolsa Família</div>
            </li>            
            <div class="item item-divider">
                Acompanhamento
            </div>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcGestante" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Gestante</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcPuerpera" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Puérpera</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcRecemNascido" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Recém Nascido</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcCrianca" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Criança</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcPessoaDesnutrida" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Pessoa com Desnutrição</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcPessoaDeficiente" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Pessoa em Reabilitação/Deficiência</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcPessoaHipertensa" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Pessoa com Hipertensão</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcPessoaDiabetes" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Pessoa com Diabetes</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcPessoaAsmatica" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Pessoa com Asma</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcPessoaEnfisema" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Pessoa com DPOC/Enfisema</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcPessoaCancer" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Pessoa com Câncer</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcPessoaDoencaCronica" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Pessoa com outras Doêncas</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcPessoaHanseniase" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Pessoa com Hanseníase</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcPessoaTuberculose" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Pessoa com Tuberculose</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcAcamado" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Domiciliados/Acamados</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcVulnerabilidadeSocial" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Condições de Vulnerabilidade Social</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcCondicionalidadesBolsaFamilia" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Condicionalidades do Bolsa Família</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcSaudeMental" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Saúde Mental</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcUsuarioAlcool" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Usuário de Álcool</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoAcUsuarioDroga" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Usuário de Outras Drogas</div>
            </li>            
            <div class="item item-divider">
                Outros Motivos
            </div>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoEgressoInternacao" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Egresso de Internação</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoControleAmbientesVetores" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Controle de Ambientes/Vetores</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoCampanhaSaude" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Atividades Coletivas/Campanha de Saúde</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoPrevencao" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Orientação/Prevenção</div>
            </li>            
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="visita.motivoOutros" ng-true-value="1" ng-false-value="0" >
                </label>
                <div class="input-label c-input-full-content c-input-title">Outros</div>
            </li>            
        </div>        
    </ion-content>
<!--</ion-view>-->


